# Node.js
node_modules/

# Logs
logs/
*.log
*.log.*
.env

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# TEST 
Test/


# dotenv environment variables file
.env

#config
babel.config.json
jest.config.js
nodemon.json


# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

.git

